<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610831962818-mji37un71qi10pnlkl22q1ud3l00l0ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610831962818-mji37un71qi10pnlkl22q1ud3l00l0ba</string>
	<key>API_KEY</key>
	<string>AIzaSyAx5MS9ljgjSjJrCu6XQ7yNQBIL3PdHdPg</string>
	<key>GCM_SENDER_ID</key>
	<string>610831962818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>expert-submission-2-akhir</string>
	<key>STORAGE_BUCKET</key>
	<string>expert-submission-2-akhir.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610831962818:ios:d63443c70f3828f2fde15b</string>
</dict>
</plist>